 @media only screen and (max-width: 1400px) {
  body{min-width:1200px;}

 .main_carousel .owl-prev{
    margin-left: -48%;
  }
  .main_carousel .owl-next{
   margin-right:-48%;
  }
}
@media only screen and (max-width: 1200px) {
  body{min-width:995px;}
  
  .menu ul> li > a{
    padding: 16px 15px;
  }

  .menu_button_shw{
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .main_carousel_messadge h2{
    font-size: 56px;
  }
  .main_carousel_text{
    font-size: 24px;
  }
  input[type="text"].calendar{
     padding: 12px 5px 11px 5px;
  }
  body{min-width:995px;}

  .main_carousel_messadge{
    top: 112px;
    left: 50%;
    margin-left: -210px;
  }
  .header_call_lk{
    padding: 12px 12px;
  }
  .header_contact{
    padding-left: 65px;
    background: url(../images/icon/click.png) 30px 6px no-repeat;
  }
  .header_messadge{
    padding: 3px 0 10px 33px;
    margin-right: -10px;
    background: url(../images/icon/time.png) 0 4px no-repeat;
  }.header_messadge{
    padding: 3px 0 10px 30px;
  }
  .header_contact{
    padding-left: 50px;
    background: url(../images/icon/click.png) 15px 6px no-repeat;
  }
  .header_call_lk{
    padding: 12px 10px;
    font-size: 15px;
  }
    .news_box_img img{
      overflow: hidden;
    }

  .resp_nbi{
    height: 104px;
  }
 /* .form_item_box:last-child{
    margin: 60px 0 20px 0;
  }*/
  [class*="form_calendar"]{
    width: 125px;
    padding-bottom: 15px;
  }
  .form_item_box{
    width: 48%;
  }
  .contacts_inner_address{
    width: 268px !important;
    margin-left: 0 !important;
  }
  [class*="contacts_inner_"]{
    width: 153px;
    margin-left: 15px;
  }
  .main_carousel_slide{
    position: fixed;
  }

  .fancybox-prev span, .fancybox-next span{width: 40px;height: 40px;background-size: 50%;}
  .fancybox-prev span {left:15px; background: url(../images/icon/prev_white.png) 50% 50% no-repeat #59aad0;}
  .fancybox-next span {right:15px; background: url(../images/icon/next_white.png) 50% 50% no-repeat #59aad0;}
  .services_reviwes .reviews_write{width: 240px;padding-right: 48px;}
  .services_reviwes .reviews_messadge{width: calc(100% - 240px);padding: 20px 20px 55px;}
  .services_reviwes .reviews_messadge p{min-height:auto;}
  .doctors_item{margin: 0 0 30px 30px;width: 44%;}

}

@media only screen and (max-width: 992px) {
  body{min-width:748px;}

  .header_contact{
    padding-left: 35px;
    background: url(../images/icon/click.png) 0px 6px no-repeat;
    margin: 10px 0;
  }
  .header_messadge{
    margin: 19px -6px;
    float: right;
  }
  .logo{
     width:210px;
     margin-left: 20px;
  }
  .logo a{background-size: contain;}
 
  .menu{
    position: absolute;
    top: 60px;
    left:15px;
    right:15px;
    z-index: 11;
    background-color: #007db7;
   
  }
  .menu ul > li > a,
  .menu ul > li > a:last-child{
    padding: 16px 26px;
  }
    .menu ul > li > a{
      color: #fff;
      font-size: 15px;
    }
      .menu ul li a:hover{
        background-color: #0076ab;
      }
  .menu_button_shw{
    position: absolute;
    top: -165px;
  }
  .header_nav{
    position: relative;
    height: 119px;
  }
    .btn_shw_nav{
      right: 0px;
      width: 100%;
      margin: 0;
    }
  .search_btn{
    width: 42px;
    height: 42px;
  }
    .search_box input[type=text]{
     /* padding: 13px 60px 12px 16px;*/
     height: 42px;
    }
  .search_box{
    width: 100%;
    float: none;
    margin-top: 8px;
  }
  .search_inner{
    margin-bottom: 59px;
  }
  .news_box_img {
    height: auto;
    width: 40%;
  }
 
  .carousel_news_inner{
    width: 93.7%;
  }
 
  .doctors_item_box{margin-left: -20px}
  .doctors_item{
    margin: 0 0 30px 20px;
  }
  .resp_rm{
    width: 100%;
    padding: 30px 0px 23px;
  }
  .resp_rm .all_reviwes_lk{
    bottom: 50px;
  }
  .form_box{
    padding-right: 0; 
  }

  .form_item_box .jq-selectbox__trigger{
    background: url(../images/icon/arrow_select_gray.png) 69% 50% no-repeat;
  }
  .header_contact{
    display: none;
  }
  .header_call,
 
  .header_messadge{
    float: none;
  }
  [class*="contacts_inner_"]{
    margin: 0 0 25px 0;
    float: none;
  }
  .contacts_box{
    margin-bottom: 20px;
  }
 
  .services_reviwes .reviews_write{float:none;width:100%;padding-right: 0;}
  .services_reviwes .reviews_messadge{float:none;width:100%;margin-top: 45px;}
  .services_reviwes .reviews_messadge:before{top:0;margin-top: -46px;left:50%;margin-left: -31px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
 
  .form_item_box:nth-child(odd), .form_item_box:nth-child(even){float: none;width: 100%;}
  [class*="form_calendar"]{width: 48%;}
  .doctor_entry_box{padding-bottom: 30px;}

}

@media only screen and (max-width: 767px) {
  body{min-width:480px;}
   .stycky_block{
    padding-top: 70px;
  }
  .services_box{
    padding-top: 20px;
  }
  .logo{width: 150px;}
  .header_inner{
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding-top: 0;
    height: 70px;
    z-index: 101;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px #007db7;
    -moz-box-shadow: 0 1px 3px #007db7;
    -o-box-shadow: 0 1px 3px #007db7;
    box-shadow: 0 1px 3px #007db7;
  }
  .description_bl, .specialists_bl, .callback_bl, .reviews_bl{
    padding: 20px 0;
  }
  .header_call, .header_messadge, .header_contact{
    display: none;
  }

  #menu_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .7;
    display: none;
    z-index: 10;
  }
  .main_carousel .owl-item, .main_carousel .owl-item img{
    height: 350px;
  }

  .main_carousel_messadge{
    position: static;
    margin-left:0;
    width: 100%;
    padding: 50px 50px 0;
  }
    .main_carousel_messadge h2{
      font-size: 40px;
      margin-bottom: 20px;
    }
  .main_carousel .owl-pagination{bottom: 35px;}
    .show_menu #menu_overlay{
      display: block;
    }
  .btn_shw_nav{
    text-align: center;
  }
  .menu{
    position: fixed;
    right: -250px;
    left:inherit;
    background-color: #007db7;
    width: 250px;
    top: 0px;
    padding: 40px 0;
    height: 100%;
    margin: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    z-index: 103;
  }
  .show_menu .menu{
    right: 0px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .menu_button_shw{
    display: block !important;
    visibility: visible;
    opacity: 1;
    position:fixed;
    width: 42px;
    height: 42px;
    top: 15px;
    right: 15px;
    z-index: 102;
    background:url(../images/icon/show_menu_btn.png) no-repeat 50% 50% #007db7;
   }

  .menu ul > li{
    float: none;
  }
  .menu ul > li > a, .menu ul > li > a:last-child{
    display: block;
    padding: 12px 15px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    font-weight: 300;
  }
    .menu ul li a:hover{
      background-color: #0076ab;
    }
  .header_phone_resp{display: block;padding: 0 15px;color: #fff;font-size:22px;line-height: 2;}
  .call_resp_lk{
    display: block;
    background-color:#0076ab;
    width: 210px;
    border-radius:8px;
    margin: 0 auto;
    padding:12px 10px;
    font-size: 15px;
    margin-top: 20px;
    color: #fff;
    border:1px solid #fff;
  }
  .search_inner{
    margin-bottom: 0px;
  }
  .main_carousel .owl-prev, 
  .main_carousel .owl-next{
    width: 38px;
    height: 38px;
    margin-top: -19px;
  }
  .item_box_img{
    height: auto;
    margin-bottom: 10px;
  }
  .soc_box a{
    margin-bottom: 5px;
  }
  .proffesional_name{
    min-height: 36px;
  }
  .main_categories_bl,
  .main_categories_box{
    width: 100%;
  }
  .main_categories_list{
    right: 0;
  }
  .main_categories_box h5{
    background: url(../images/icon/bg_main_title.png) 97% 50% no-repeat #1dc3f3; 
  }
  .main_categories_inner:after{
    right: 35px;
  }
  .news_box_img {
    width: 210px;

  }
 
  .set_of_news{
    margin-left: 0;
  }
  .item_box_img{
    width: 100%;
  }
  .seminar_content{
    margin-left: 0;
    margin-top: 20px;
  }
  .price_table td{
    font-size: 12.5px;
  }
  .price_table th{
    font-size: 13px;
  }
  
  .header_nav{
    height: 60px;
  }
  .show_menu .close_btn{
    display: block !important;
    padding: 4px;
    position: absolute;
    visibility: visible;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    z-index: 12;
    cursor: pointer;
    background: url(../images/icon/close_icon.png) 50% 50% no-repeat;
  }
  /*.callback_bl{background-color: #1dc3f3!important;margin-bottom: 15px;}*/
  .doctors_item_box{margin-left: 0;}
  .doctors_foto_inner{text-align: center;}
  .doc_news {overflow: hidden;}
  .doc_news .item_box_img{
    width: 210px;
    height: 143px;
    float: left
  }
  .doc_figcaption{overflow: hidden;padding-left: 20px;}
  .news_box_text_type{padding: 20px 0;}
  .carousel_news_item time{margin-bottom: 20px;}
  .new_carousel_write{width: 60%;}
  .news_box_text{padding: 20px 0;}
  [class*="contacts_inner_"]{
    margin: 0 25px 25px 0;
    float: left;
  }
  #review{width: 300px;}
  .review_modal_inner{padding:15px;}
  .form_item label, .f_right.form_item_input{float: none;width: 100%;}
  footer{padding: 30px 0 30px;}
}
@media only screen and (max-width: 480px) {
  body{min-width:300px;}
 .menu{
    right:-100%;
    width: 100%;
  }
  .main_carousel_text{
    font-size: 19px;
  }
  .show_menu .header_nav{
    margin-bottom: 377px;
  }  

  .owl-prev, .owl-next{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    background-size:40%;
  }
  #carousel_prof .owl-prev{
    left: -30px;
  }
  #carousel_prof .owl-next{
    right: -30px;
  }
  .owl_carousel_box{
    padding: 30px 40px;
  }
  .soc_box{
    margin: 0;
  }
  .main_categories_inner:after{
    right: 25px;
  }
  .carousel_news_inner .owl-prev:after, .carousel_news_inner .owl-next:before{
    width: 90px;
  }
  .carousel_news_inner .owl-prev:after{
    content: "Предыдущая";
  }
  .carousel_news_inner .owl-next:before{
    content: "Следующая";
    left:-100px;
  }
 
  .carousel_news_inner .owl-buttons{
    width: 100%;
  }
  .description_inner span:first-child{
    width: 100%;
    display: inline-block;
  }
  .seminar_box_img{
    float: none;
    width: 100%;
  }
 
  .form_item_box:nth-child(odd),
  .form_item_box:nth-child(even){
    float: none;
    width: 100%;

  }
  .form_item_box:last-child{
    margin: 20px 0;

  }
  .reviews_item figcaption{
    width: 100%;
    float: none;
    text-align: justify;
  }
  .reviews_item .reviews_box_author{
    float: none;
    margin-bottom: 15px;
  }
 .callback_bl{background-color: #1dc3f3!important;margin-bottom: 15px;}
.reviews_messadge{padding: 30px 30px 55px;}
.all_reviwes_lk{bottom: 55px;}
.doc_news .item_box_img{
  width: 100%;
  float: none;
  height: auto;
}
.doc_news .item_box_img img{
  width: 100%;
}
.doc_figcaption{
  padding-left: 0;
}
.news_box_img{float: none;width: 100%;margin-bottom: 15px;}
.news_box_img img{width: 100%;}
[class*="news_item"] figcaption, .seminar_figure figcaption{padding-left: 0;margin-top: 20px;}
.p40, .p28{margin-bottom: 20px;}
.new_carousel_write{width:100%;}
[class*="contacts_inner_"]{margin: 0 0 25px 0;float: none;}
#review{width: 100%;}
 .reviews_messadge{padding: 15px 15px 55px;}
.new_carousel_slide, .new_carousel_slide img{ height: 250px;}



}