/*==============RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1200px) {
  body{min-width:995px;}
  .new_carousel_text{height: auto;}
  .new_carousel_write > div{
    width: 100%;
  }
  .news_bl{height: auto;}
  #news_carousel{padding-right:0;}
  .new_carousel_lk{float: none;}
  .new_carousel_text{padding: 40px 0 3% 28px}
  footer .soc_box{padding-left: 55px;}

  /*doctors*/
  .doctors_select_box {padding:15px 15px 25px;}
  .doctors_select_box > div:first-child{padding: 0; z-index: 9999 !important;}
  .select_box{width: 100%; float: none;}
  .select_box .styler{ width: 100%;}
  .doctors_item:nth-last-of-type(3){
    margin-bottom: 30px;
  }
  .doctors_select_box label{float: none;}

  /*doctors_inner*/

  .doctors_inner_box figcaption {width: 56%; padding: 0;}
  .doctors_doc_inner{margin-left: -18px;}
  .doctors_doc_inner h4{margin-left: 18px;}
  .doctors_doc_inner img{margin-left: 18px;}
}

@media only screen and (max-width: 992px) {
  body{min-width:748px;}
  .carousel_one{
    padding-right: 0;
  }
  #news_carousel{padding-right: 0;}
  .news_bl .new_carousel_lk{float: right;}
  .new_carousel_text:before{
    left: 50%;
    margin: 0 0 0 -14.5px;
    top: -45px;
    transform: rotate(90deg);
  }
  .new_carousel_messadge{
    padding: 0;
  }
  .new_carousel_text{
    padding: 20px 0;
    text-align: left !important;
  }
  .new_carousel_write > div{
    width: 70%;
  }

  .callback_box{
    width: 100%;
  }
  .callback_box_img{
    width:100%;
    height: 300px;
  }
  .callback_box_img img{
    width: 100%;
  }
  .callback_box_inner{
    left: 0;
    position: relative;
  }
  .callback_box_inner h4, .callback_box_inner p{
    margin-bottom: 10px;
  }
  .callback_box_inner input[type=text]{
    padding: 8px 14px;
    margin-bottom: 10px;
  }
  .callback_box_inner p{font-size: 14px;line-height: 16px;}
  .callback_box .callback_btn{width: 308px;}
  footer .soc_box{
    padding-left: 0;
  }
  .main_categories_bl{width: 100%;}
  .main_categories_box{width: 100%;}

  /*doctors*/
  .doctors_select_box > div, .doctors_select_box > div:first-child{width: 100%;float: none;padding: 0;} 
 
/*pohotos*/
  .photos_box{margin-left: -15px;}
  .photos_item{width: 46%; margin: 0 0 15px 15px;}
}

@media only screen and (max-width: 767px) {
  body{min-width:480px;}
  .main_categories_bl{
    margin-bottom: 0;
  }
  .new_carousel_text:before{
    display: none;
  }
  .news_bl .new_carousel_lk{float: none;}
  .callback_box{border-radius: 0; text-align: center;}
  .callback_box img{width: 100%;}
  .callback_box_img, .callback_box_inner{
    float: none;
    width: 100%;
    border-radius: 0;
  }
  .reviews_write{
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .reviews_messadge{
    width: 100%;
    margin-top: 45px;
  }
  .reviews_messadge:before{
    top: -30px;
    left: 50%;
    margin-left: -30px;
    transform: rotate(90deg);
  }
  .callback_box_img, .callback_box_img img{
    height: auto;
  }
  .callback_btn{width: 308px;}

  .map_box{height: 300px;}
  .footer_main{padding: 20px 0 20px;}
  .footer_text_type{text-align: center;}
  .footer_contact {margin-top: 50px;}
  footer .soc_box {text-align: center; margin: 15px 0 0;}

  /*doctors_inner*/
  .doctors_inner_box figcaption {width: 56%; padding: 0;}

  /*pohotos*/
  .photos_box{margin-left: -25px;}
  .photos_item{width: 44%; margin: 0 0 15px 25px;}
}

@media only screen and (max-width: 480px) {
  body{min-width:300px;}
  .new_carousel_write > div{width: 100%;}
  .carousel_messadge{width:260px;left: 20px;top:20px;}
  .carousel_messadge h3{margin-bottom: 10px;}
  .callback_box{width: 100%;}
  .reviews_messadge p{font-size: 13px;}
  .reviews_messadge:before{
    left: 50%;
    margin-left: -30px;
  }
  .callback_box_inner{padding: 25px 0;}
  .callback_btn, .callback_box .callback_btn{width: 100%;}

  /*doctors*/
  .doctors_item_box{margin-left: 0;}
  .doctors_item{margin: 0 0 20px 0; width: 100%;}
  .doctors_item:nth-last-of-type(2){
    margin-bottom: 20px; 
  }

  /*doctors_inner*/
  .doctors_foto_inner{width:100%;float: none;}
  .doctors_inner_box figcaption {width: 100%; padding: 10px 0 0 0;float: none;}

  /*pohotos*/
  .photos_box{margin:0;}
  .photos_item{width:100%;margin: 0 0 15px;}
}
