@import "../css/reset.css";
@import "../css/bootstrap_grid.css";
@import "../css/owl.carousel.css";
@import "../css/jquery.formstyler.css";
@import "../css/jquery-ui.css";
@import "../css/jquery.fancybox.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic-ext);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  line-height:18px;
  color:#424242;
  min-width:960px;
  background-color:#fff;
  -webkit-text-size-adjust:none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select:none;
  -webkit-appearance:none;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}
/*----------------------> Links And buttons <------------------*/
a {
  color:#27221f;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  text-decoration:none;
}

button[class*="_btn"],
button[class*="_lk"],
a[class*="_btn"]{
  display: inline-block;
  cursor: pointer;
  border:none;
  outline: none;
}
.btn:hover{
  color:#000;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}
.it{font-style:italic}
.let{letter-spacing:-1px}
.bold{font-weight: 700!important;}
.mbold{font-weight: 500!important;}
.regular{font-weight: 400;}
.sbold{font-weight: 600!important;}
.light{font-weight: 300!important;}
.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}
.h100{height: 100%;}
.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/
.bg_white{
  background-color: #fff;
}
.bg_blue{
  background-color: #1dc3f3;
}
.bg_blue1{
  background-color: #007db7;
}

.bg_gray{
  background-color: #f6f6f6;
}
.red{color: #c36c6a;}
.white{color: #fff;}
.blue{
  color: #1dc3f3;
}
.blue1{
  color: #007db7;
}
.gray{color: #787878;}
/*======================> Header <======================*/
.header_inner{padding-top: 30px;}
.logo{width: 230px;height: 66px;}
.logo a{
  display: block;
  background: url(../images/logo.png) 50% 50% no-repeat;
  text-indent: -9999px;
  height: 66px;
}
.btn_shw_nav{margin:0 -20px;}
.header_contact{
  background: url(../images/icon/click.png) 74px 6px no-repeat;
  padding-top:4px;
  padding-left:110px;
  font-weight: 500;
}
.menu > li{
  float: left;
}
.menu > li > a{
  color: #fff;
  font-size: 17px;
  padding: 16px 38px;
  display: block;
}
.menu > li:last-child a{
  padding:16px 16px 16px 17px; 
}
.menu li a:hover{
   background-color: #007db7;
}
/*----show_menu----*/
    .menu ul > li{
      float: left;
    }
    .menu ul > li > a{
      color: #fff;
      font-size: 17px;
      padding: 16px 36px;
      display: block;
    }
    .menu ul li a:hover, .menu ul li a.active{
      background-color: #007db7;
    }
    /*------------------------------------*/
.menu_button_shw{
  display: none !important;
}
.close_btn{
  display: none !important;
  visibility: hidden;
}
.header_messadge{
  padding: 4px 0 10px 41px;
  background: url(../images/icon/time.png) 0 8px no-repeat;
  font-weight: 500;
}
.header_call{
  padding-top:4px;
  text-align: right;
}
  .header_call_lk{
    display: inline-block;
    background-color: #007db7;
    color: #fff;
    padding: 13px 17px 11px 16px;
    border-radius: 10px;
    margin-bottom:29px;
    font-size: 16px;
  }
  .header_call_lk:hover, .callback_btn:hover{
    background-color: #0076ab;
  }
.header_phone{
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 7px;
}
.search_box{
  float: right;
  margin-top: 10px;
  position: relative;
  width: 206px;
}
  .search_box input[type=text]{
    display: block;
    padding: 6px 16px 7px;
    border:none;
    color: #787878;
    margin-bottom: 0;
  }
  .search_btn{
    position: absolute;
    top:0;
    right:0;
    width: 31px;
    height: 30px;
    background: url(../images/icon/search.png) 50% 50% no-repeat #007db7;
  }
/*-----------------breadcrumbs--------------*/
.breadcrumbs{padding: 12px 0 6px;}
.breadcrumbs_it{
  display: inline-block;

}
.breadcrumbs_it a, .breadcrumbs_current{
  font-size: 13px;
  line-height: 1.2;
  color: #8e8e8e;
  font-weight: 300;

}
.breadcrumbs_current{margin-left: -2px;}
/*---------------------content----------------------*/
.description_bl{padding: 35px 0 30px;}
.specialists_bl{padding: 35px 0 45px;}
.main_categories_box{
  width: 240px;
  margin-top:3px;
}
.main_categories_box h5{
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 11px 45px 10px 15px;
  background: url(../images/icon/bg_main_title.png) 90% 50% no-repeat #1dc3f3;
  font-weight: 400;
}
.main_categories_list{
  border-radius: 0 0 10px 10px;
}
.main_categories_list > li{
  border-bottom: 1px solid #2589bd;
  position: relative;
}
.main_categories_list > li:last-child{
  border-radius:0 0 10px 10px;
}
.main_categories_list >li >a{
   padding: 10px 26px 11px;
   letter-spacing: 0.8px;
   font-size: 15px;
   line-height: 1.2;
}
.main_categories_list a{
  display: block;
  background-color: #007db7;
  color: #fff;
}
.main_categories_list a:hover, .main_categories_inner:hover{
  background-color: #0076ab;
}
.main_categories_list > li > a:before, .main_categories_inner:before{
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 100%; 
  left:17px;
  top:17px;
}
.main_categories_inner{
  position: relative;
  cursor: pointer;
  padding:11px 26px 10px 27px;
  color: #fff;
  background-color: #007db7;
  font-size: 15px;
}
.main_categories_inner:after{
  display: block;
  content: "";
  position: absolute;
  right:12px;
  top:50%;
  margin-top: -4px;
  width: 12px;
  height: 8px;
  background: url(../images/icon/categories_arrow.png) 0 0 no-repeat;
}
.active.main_categories_inner:after{
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.main_categories_list a{
  color: #fff;
}

.main_categories_list > li >a:last-child{
  border-radius:  0 0 10px 10px;
}
.subcategories_list{
  display: none;
}
.subcategories_list a{
  padding: 11px 10px 11px 40px;
}
.active.subcategories_list{
  display: block;
}
.services_box h5{
  margin-bottom: 20px;
}
.soc_box a{
  display: block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: inline-block;
  background-color:#1dc3f3;
  margin-left: 3px; 
}
.soc_box a:hover{
  background-color: #0f77ad;
}
.soc_lk_vk{
  background: url(../images/icon/vk.png) 50% 50% no-repeat;
}
.soc_lk_facebook{
  background: url(../images/icon/facebook.png) 50% 50% no-repeat;
}
.soc_lk_in{
  background: url(../images/icon/in.png) 50% 50% no-repeat;
}
.soc_lk_tweeter{
  background: url(../images/icon/twitter.png) 50% 50% no-repeat;
}
.proffesional_name{
  font-size: 18px;
  color: #363636;
  margin-bottom: 8px;
}
.profession{
  margin-bottom: 35px;
}
.title_messadge{
  font-size: 15px;
  line-height: 19px;
  color: #787878;
}
#carousel_prof .owl-pagination{
  display: none;
}
.owl_carousel_box{
  padding:30px 65px 0;
}
.news_bl{
  height: 370px;
  border-top:1px solid #ebebeb;
  border-bottom:1px solid #ebebeb;
  overflow: hidden;
}
  .new_carousel_slide{
    height: 370px;
  }
  .new_carousel_slide img{
    height: 370px;
    width: auto!important;
    max-width: initial;
    -webkit-appearance: none;
  }
  .new_carousel_write{
    overflow: hidden;
  }
  .new_carousel_text{
    height: 370px;
    position: relative;
    padding:65px 0 7% 38px;
  }
    .new_carousel_messadge{
      padding: 0 70px 50px;
      font-size: 15px;
      color: #787878;
    }
  .new_carousel_lk, .bg_blue_lk{
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    padding: 11px 20px;
    border-radius: 8px;
    border:1px solid #2abadd;
  }
   .new_carousel_lk:hover, .bg_blue_lk:hover{
    background-color: #007db7; 
   }

    #news_carousel{
      padding-right: 30px;
    }
  
   .main_carousel .owl-item > div{
    height: 100%;
    width: 100%;
    overflow: hidden;
   }

input[type=text]{
  padding: 12px 14px 11px 14px;
  font-size: 15px;
  color: #8e8e8e;
  border: 1px solid #c5c5c5;
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
textarea{
  width: 100%;
  overflow: hidden;
}
.new_carousel_write > div{
  width: 262px;
  float: left;
}
.callback_bl{
  padding: 50px 0;
}
.callback_box{
  width: 890px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border-radius: 8px;
}
.callback_box_img{
  width: 547px;
}

.callback_box_inner{
  position: absolute;
  top:0;
  bottom: 0;
  left:547px;
  right:0;
  padding: 25px 20px 20px 20px;
  text-align: center;
}
.callback_box_inner input[type=text]{
  border: none;
}
.callback_btn{
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}
.reviews_bl{
  padding:50px 0;
}
  .reviews_write{
    width: 308px;
    float: left;
    text-align: left;
    padding-right: 68px;
  }
  .reviews_messadge{
    width: calc(100% - 308px);
    background-color: #fff;
    padding: 30px 36px 23px;
    border-radius: 10px;
    float: right;
    position: relative;
  }
  .reviews_messadge:before{
    content: "";
    display: block;
    position: absolute;
    left:-60px;
    top:50%;
    margin-top: -30px;
    width: 0;
    height: 0;
    border: 30px solid transparent;
     border-right: 30px solid #fff;
  }
  .reviews_messadge:after{
    position: absolute;
    content: "";
    left:-28px;
    width: 0;
    height: 0;
  }
  .reviews_messadge p{
    min-height: 154px;
    font-size: 15px;
    line-height: 19px;
  }
  .reviews_author{
    font-size: 20px;
  }
  .all_reviwes_lk{
    display: block;
    position: absolute;
    bottom: 20px;
    font-size: 15px;
    line-height: 19px;
    color: #0070a2;
  }
  #map_box{
    height: 382px;
  }

  .carousel_messadge{
    position: absolute;
    width: 280px;
    top:60px;
    left: 40px;
  }
  .carousel_messadge h3{
    line-height: 32px;
    margin-bottom: 24px;
  }
  .carousel_messadge h3 > span{
    font-weight: 400;
  }
/*------------------owl-carousel-------------*/
.carousel_item{
  padding: 15px 12px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
}
.carousel_img_box{
  height: 100%;
  overflow: hidden;
  position: relative;
}
.item_box_img{
  height: 190px;
  margin-bottom: 25px;
  border-radius: 8px;
  overflow: hidden;
}
.new_carousel_item, .reviews_carousel_item{
  overflow: hidden;
}
.main_carousel_slide{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
}
.main_carousel_messadge{
  width: 420px;
  position: absolute;
  top:68px;
  left:15px;
}
.main_carousel .owl-item img{
  height: 498px;
  width: auto;
  max-width: inherit;
}
.main_carousel_text{
  font-size: 28px;
  margin-bottom: 30px;
}
.main_more_lk{
  display: inline-block;
  color: #fff;
  font-size: 18px;
  padding: 10px 0;
  width: 190px;
  border: 2px solid #fff;
  text-align: center;
  border:2px solid #fff;
  border-radius: 10px;
}
.main_more_lk:hover{
  color: #1dc3f3;
  background-color: #fff;
}
.map_box iframe{
  width: 100%;
  height: 100%;
}
.form_box{
  padding-right: 70px;
}
.form_item_box{
  width: 46.2%;
 
}
.form_item_box:nth-child(even){
  float: right;
}
.form_item_box:nth-child(odd){
  float: left;
}
.form_item_box textarea{
  height: 70px;
  border: 1px solid #c1c1c1;
  display: block;
  width: 100%;
  padding: 12px 14px;
  font-size: 15px;
  color: #8e8e8e;
  resize: none;
  overflow: auto;
}

.form_item_box label{
  font-size: 15px;
  line-height: 1.2;
  color: #8e8e8e;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 8px;
}
.form_item_box input[type="text"]{
  margin-bottom: 16px;
}
input[type="text"].calendar{
  border:1px solid #c1c1c1;
  background:url(../images/icon/calendar.png) right 50% no-repeat;
}
.form_item_box .jq-selectbox{
  height: 42px;
  border: 1px solid #c5c5c5;
  margin-bottom: 16px;
}
.form_item_box .jq-selectbox__select{
  height: 40px;
  padding: 0 40px 0 10px;
}
.form_item_box .jq-selectbox__select-text{
  line-height: 40px;
   color:#8e8e8e;
}
.form_item_box .jq-selectbox__trigger{
  width: 30px;
  background:url(../images/icon/arrow_select_gray.png) 50% 50% no-repeat;
}
.form_item_box .jq-selectbox li{
  color: #8e8e8e;
}

.form_item_box .jq-selectbox li.selected, .form_item_box .jq-selectbox li:hover{
  background-color: #007db7;
  color: #fff;
  
}
.owl-carousel .qt{
  position: absolute;
   font-size: 20px;
  width: 54px;
  text-align: center;
}

#reviews_carousel .qt{
  right:60px;
  bottom:25px;
  font-size: 20px;
  color: #807f7f;
}

#news_carousel .qt{
  left:60px;
  bottom:35px;
  color: #fff;
}
/*------------------------news--------------------------*/

[class^="news_item"]{
  padding: 28px 0 31px;
  border-bottom: 1px solid #95b5d0;
}
  .news_item_first{
    margin-top: -6px;
  }
  .news_box_img, .seminar_box_img{
    border:1px solid #dde8ec;
   overflow: hidden;
  }
  .seminar_box{
    margin-bottom: 20px;
  }
  .news_box_img{
    width: 24.4%;
    height: auto;
    overflow: hidden;
  }
  [class*="news_item"] figcaption, .seminar_figure figcaption{
    padding-left: 20px;
  }
  .pagination_box{
    text-align: center;
    padding: 42px 0 50px;
  }
    .pagination_list{
      display: inline-block;
      position:relative;
    }
    .pagination_list li{
      margin-right: 2px;
      float: left;
    }
      
      .pagination_list li a{
        height: 28px;
        display: inline-block;
        text-align: center;
        width: 28px;
        color: #807f7f;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 300;
      }
      .pagination_list li a:hover{
        color: #1dc3f3;
      }
      .pagination_lk_prev, .pagination_lk_next{
        content: "";
        width: 28px;
        height: 28px;
        display:inline-block;
        border-radius: 50%;
        cursor: pointer;
      
      }
      .pagination_lk_prev{
        background: url(../images/icon/arrow_prev.png) 45% 50% no-repeat #eaeaea;
        background-size: 9px 15px;
      }
      .pagination_lk_next{
        background: url(../images/icon/arrow_next.png) 55% 50% no-repeat #eaeaea;
        background-size: 9px 15px;
        visibility: visible;
      }
      .pagination_lk_prev:hover{
        background: url(../images/icon/prev_white.png) 45% 50% no-repeat #0078af;
        background-size: 9px 15px;
      }
      
      .pagination_lk_next:hover{
        background: url(../images/icon/next_white.png) 55% 50% no-repeat #0078af;
        background-size: 9px 15px;
      }
      
  [class*="news_item"] time{
    margin-bottom: 16px;
    color: #696969;
  }
  .news_box_text{
    padding: 18px 0 50px;
  }
  .news_box_text_type{
    padding: 35px 0 50px;
  }
.new_messadge{
  line-height: 16px;
  margin-bottom: 22px;
} 
/*---------------------------doctors-------------------*/
.main_categories_bl{
  width: 240px;
}

.doctors_item_box{
  margin-left: -26px;
}
  .doctors_item{
    width: 27.5%;
    padding: 12px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    text-align: center;
    margin:0 0 30px 50px;
    overflow: hidden;
    height: 310px;
  }
  .doctors_item:nth-last-of-type(1), 
  .doctors_item:nth-last-of-type(2), 
  .doctors_item:nth-last-of-type(3){
    margin-bottom: 0;
  }
  .doctors_item:hover .item_box_img:before{
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .doctors_item .item_box_img{
    position: relative;
  }
  .doctors_item .item_box_img:before{
    content: "";
    opacity: 0;
    border-radius: 8px;
    visibility: hidden;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,125,183,0.5);
  }
.doctors_item_hover{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
 -moz-transform: translateX(0px) translateY(60px);
  -webkit-transform: translateX(0px) translateY(60px);
  -o-transform: translateX(0px) translateY(60px);
  -ms-transform: translateX(0px) translateY(60px);
  transform: translateX(0px) translateY(60px);
  -webkit-transition: all 1200ms ease;
  -moz-transition: all 1200ms ease;
  -ms-transition: all 1200ms ease;
  -o-transition: all 1200ms ease;
  transition: all 1200ms ease;
}
  .doctors_record{
    color: #fff;
    background-color:#007db7; 
    font-weight:500;
    font-size: 16px;
    line-height: 1.2;
    padding: 12px 0 11px 0;
    border-radius: 0 0 8px 8px;
  }
.doctors_more{
  display:inline-block;
  width: 150px;
  font-size: 18px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  -moz-transform: translateX(0) translateY(-150px);
  -webkit-transform: translateX(0) translateY(-150px);
  -o-transform: translateX(0) translateY(-150px);
  -ms-transform: translateX(0) translateY(-150px);
  transform: translateX(0) translateY(-150px);
  -webkit-transition: all 1200ms ease;
  -moz-transition: all 1200ms ease;
  -ms-transition: all 1200ms ease;
  -o-transition: all 1200ms ease;
  transition: all 1200ms ease;
}
.doctors_item .profession{
  margin-bottom: 22px;
  font-size: 15px;
  line-height: 1.2;
}
.doctors_record_lk{
  height: 42px;
  background-color: #007db7;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0 0 8px 8px;
  padding: 14px 0;
}
.doctors_item:hover .doctors_item_hover, .doctors_item:hover .doctors_more{
  
  -moz-transform: translateX(0px) translateY(0);
  -webkit-transform: translateX(0px) translateY(0);
  -o-transform: translateX(0px) translateY(0);
  -ms-transform: translateX(0px) translateY(0);
  transform: translateX(0px) translateY(0);
   -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.doctors_item:hover .doctors_more{
  opacity: 1;
  visibility: visible;
}
.carousel_top_buttons .owl-buttons{
    top: -40px;
    position: absolute;
    right: 0;
}
.carousel_top_buttons .owl-pagination{
  display: none;
}
.carousel_top_buttons .owl-prev, .carousel_top_buttons .owl-next{
  width: 28px;
  height: 28px;
  margin-top: -10px;
  background-size: 40%;

}
.carousel_top_buttons .owl-prev{
  right: 32px;
}
.carousel_top_buttons .owl-next{
  right: 0;
}
.doctors_carousel{
  padding-top: 30px;
}
.doc_news{
  border-bottom: 1px solid #8db0cd;
  margin-bottom: 15px;
}
.doctors_carousel_item .item_box_img{
  height: 135px;
  line-height: 135px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 0;
}
.doc_figcaption time{
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
}
.doc_figcaption a{
  line-height: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-weight: 500; 
  display: block;
}
.doctors_select_box{
  background-color: #1dc3f3;
  padding: 9px 72px 8px 20px;
  margin-bottom: 30px;
}
.doctors_select_box > div:first-child{padding-right: 35px;padding-left:0;}
.doctors_select_box > div{padding-left: 35px;}
.doctors_select_box label, .doctors_select_box select{
  display: inline-block;
}
.w50{
  width: 50%;
}
.doctors_select_box label{
  color: #fff;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.select_box{
  width: 218px;
}
/*------------------doctors inner---------------*/
.doctors_inner_box{
  overflow: hidden;
  margin-bottom: 30px;
}

.doctors_inner_box figcaption{
  float: right;
  width: 61.2%;
  padding-right: 40px;
}
.doctors_inner .doctors_record_lk{
  width: 100%;
  border-radius: 10px;
  text-align: center;
}
.doctors_inner .doctors_record_lk:hover{
  background-color:#0076ab; 
}
.doctors_foto_inner{
  width: 36.3%;
}

.doctors_foto_inner > div{
  height: auto;
  border: 1px solid #edf0f1;
  margin-bottom: 20px;
}
.doctors_foto_inner img{
  width: 100%;
 
}
.description_inner{
  margin-bottom: 7px;
}
  .description_inner_doc{
    width: 90%;
  }
    .description_inner_doc a:hover{
      text-decoration: underline;
    }
.description_inner span:last-child{
  padding-left: 5px;
}
.doctors_doc_inner img{
  margin-left: 38px;
  margin-bottom: 30px;
}

.doctors_doc_inner{
  margin-top: 36px;
  margin-left: -38px;
}
.doctors_doc_inner h4{
  letter-spacing:-1px;
  margin-left: 38px;
}
.email_lk:hover{
  text-decoration: underline;
}
/*------------seminar-----------------------------*/
.bg_blue_lk{
  color: #fff;
  background-color: #1dc3f3;
  font-weight: 500;
  padding: 11px 27px;
}
.seminar_location span{
  display: inline-block;
  padding-left: 8px;
}
.seminar_box p{
  margin-bottom: 4px;
}
  .seminar_box_img{
    width: 27.5%;
  }
 
  .seminar_box_img img{
    width: 100%;
  }
/*------------reviews--------------------*/
.reviews_item{
  padding: 28px 0 26px;
  border-bottom: 1px solid #95b5d0;
}  

.reviews_item  figcaption{
  width: 72%;
}
.reviews_box .bg_blue_lk{
  padding: 12px 25px;
}
#review{
  width: 560px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}
  #review h6{
    font-size: 18px;
    padding: 12px 15px;
    border-bottom: 1px solid #8db0cd;
    color: #007db7;
    font-weight: 700;
  }
.review_modal_inner{
  padding: 30px 73px 42px 66px;
}
.form_item_input{
  width: 300px;
}
.form_item input{
  border:1px solid #c1c1c1;
  font-weight: 300;
  margin-bottom: 10px; 
}
.form_item textarea{
  height: 156px;
  border: 1px solid #c1c1c1;
  resize:vertical;
  padding: 15px;
  color:#8e8e8e;
  font-weight: 300; 
}
.form_item label{
  color: #8e8e8e;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  padding: 12px 0;
}
.form_item label span.red, .form_item_box label span.red{
  display: inline-block;
  margin-top: -6px;
}
/*--------------entry-------------------*/
[class*="form_calendar"]{
  width: 165px;
  padding-bottom: 45px;
}

/*--------------services---------------------*/
.services_doctor{
  padding: 26px 0;
  border-bottom: 1px solid #95b5d0;
  border-top: 1px solid #95b5d0;
}
.services_reviwes{
  padding: 26px 0;
}
.price_table{
  width: 100%;
  margin-bottom: 29px;
  table-layout: fixed;
}
.price_table tr{
    border-left: 1px solid #007db7;
}
.price_table th, .title_td{
  background-color: #007db7;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}
.price_table th{
   padding: 17px 0;
}
.price_table th.title_td{
  padding: 8px 0;
}
.price_table th.col1{
  width: 72.5%;
  border-right: 1px solid #fff;
}
.price_table th.col2{
  width: 27.5%;
}
.price_table td{
  padding: 8px 15px 7px 15px;
  border-bottom: 1px solid #007db7;
  border-right: 1px solid #007db7;
}
.download_price{
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.3px;
}
.download_price:hover{
  text-decoration: underline;
}
.services_reviwes .reviews_messadge{
  background-color: transparent;
  border:1px solid #e9e9e9;
}
.services_reviwes .reviews_messadge:before{
  content: "";
  display:block;
  width: 30px;
  height: 62px;
  background: url(../images/slide_arrow.png) 0 0 no-repeat;
  margin-top: -31px;
  border:none;
  left:-30px;
 }
/*---------------contacts------------------------*/
.contacts_box{
  margin-bottom: 45px;
}
  [class*="contacts_inner_"]{
    width: 23.7%;
    margin-left: 30px;
  }

    .contacts_inner_address dt, .contacts_inner_phone dt, .contacts_inner_email dt{
      margin-bottom: 4px;
      line-height: 14px;
    }

    .contacts_inner_address, .contacts_inner_phone, .contacts_inner_email{
      font-weight: 500;
    }

    .contacts_inner_address{
      background: url(../images/icon/click.png) 0 0 no-repeat;
      width: 41%;
      margin-left: 0;
      padding-left: 37px;
    }
    .contacts_inner_phone{
      background: url(../images/icon/phone.png) 0 0 no-repeat;
      padding-left: 44px;
    }
    .contacts_inner_email{
      background: url(../images/icon/mail.png) 0 0 no-repeat;
      padding-left: 42px;
    }
.contacts_box #map_box{
  height: 400px;
}
/*---------------photos-----------------------*/
.photos_box{
  margin-left: -25px;
}
.photos_box +.pagination_box{
  padding:12px 0 50px;
}

  .photos_item{
    display: block;
    float: left;
    border:1px solid #ebebeb;
    position: relative;
    overflow: hidden;
    width: 268px;
    margin: 0 0 30px 30px;
  }
    .photos_item img{
      width: 100%;
      height: auto;
    }
    .photos_item:hover .photos_item_hover{
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
    }
    .photos_item_hover{
      position: absolute;
      top:0;
      bottom: 0;
      left:0;
      right:0;
      background: rgba(14,157,209,0.5);
      opacity: 0;
      visibility: hidden;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all 1200ms ease;
      -moz-transition: all 1200ms ease;
      -ms-transition: all 1200ms ease;
      -o-transition: all 1200ms ease;
      transition: all 1200ms ease;
    }
    .photos_item_hover span{
      position: absolute;
      top:50%;
      left:50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      color: #fff;
      font-size: 15px;
      font-weight: 500;
  }
/*----------------news_inner-------------------*/
.news_inner_content h6{
  font-size: 14px;
}
.carousel_news_inner{
  border-top:1px solid #dedede;
  margin-top: 38px;

}
.carousel_news_item time{margin-bottom: 32px;}
.carousel_news_inner .owl-buttons{
    top:20px;
    right:0;
    width:370px;
    position: absolute;
    margin-top: -54px;
    height: 30px;
    overflow: hidden;
}
.carousel_news_inner .owl-buttons:after{
  content: "";
  width: 1px;
  height: 29px;
  position: absolute;
  top:0;
  left:50%;
  background-color:#838383;
}
.carousel_news_inner .owl-prev, .carousel_news_inner .owl-next{
  width: 28px;
  height: 28px;
  background-size: 9px 15px;
  position: absolute;
  margin-top: -14px;
}
.carousel_news_inner .owl-prev{
  left:0;
}
.carousel_news_inner .owl-prev:after{
  content: "Прeдыдущая новость";
  left:0;
  padding: 0 5px 0 35px;
}
.carousel_news_inner .owl-prev:after, .carousel_news_inner .owl-next:before{
  display: inline-block;
  width: 145px;
  line-height: 28px;
  position: relative;
  font-weight: 300;
  color: #4a4a4a;
}
.carousel_news_inner .owl-prev:hover:after, .carousel_news_inner .owl-next:hover:before{
  color: #0070a2;
}
.carousel_news_inner .owl-next{
  right:0;
}
.carousel_news_inner .owl-next:before{
  content: "Следующая новость";
  left:-155px;
  padding:0 30px 0 10px 
}
.carousel_news_item{
  padding: 27px 0;
}
.carousel_news_inner .owl-pagination{
  display: none;
}
/*----------------arcticmodal--------------------*/
.arcticmodal-close {
    padding: 0;
    display: block;
    top: 20px;
    right: 20px;
    font-size: 16px;
    width: 14px;
    height: 14px;
    position: absolute;
    background:url(../images/icon/cloused.png) 0 0 no-repeat;
    cursor: pointer;
}
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container, .box_arctickmodal{ height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }
/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.p0{margin-bottom: 0!important;}
.p3{margin-bottom: 3px;}
.p5{margin-bottom: 5px;}
.p10{margin-bottom: 10px;}
.p12{margin-bottom: 12px;}
.p14{margin-bottom: 14px;}
.p16{margin-bottom: 16px;}
.p20{margin-bottom: 20px;}
.p22{margin-bottom: 22px;}
.p24{margin-bottom: 24px;}
.p28{margin-bottom: 28px;}
.p30{margin-bottom: 30px;}
.p33{margin-bottom: 33px;}
.p40{margin-bottom: 40px;}
.p50{margin-bottom: 50px;}

/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1_link{}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
h2{
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  
}
h3{
  font-size: 28px;
  line-height: 1.5;
}
h4{
  font-size: 22px;
  line-height: 1.2;
  color: #373737;
}
h5{
  font-size: 20px;
  line-height: 1.5;
}
h6{
  font-size: 16px;
  line-height: 1.3;
}


.t_ind{ margin-bottom:15px;}
.t_ind1{ margin-bottom:24px;}
.t_ind2{ margin-bottom:20px;}
.t_ind4{ margin-bottom:4px;}
.t_ind12{ margin-bottom:12px;}
.t_ind22{ margin-bottom:22px;}
.t_ind30{ margin-bottom:30px;}
.t_ind32{ margin-bottom:32px;}



/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}


/*================================>> Footer <<========================================*/
footer{padding: 80px 0 30px;border-top:1px solid #dfdfdf;}
footer.footer_main{
  border-top:none;
}
footer .soc_box{
  padding: 1px 0 0 119px;
}
footer .soc_box a{
  margin-left: 6px;
}
.footer_contact{
  position: relative;
}
.footer_contact:before{
  content: "";
  position: absolute;
  left:50%;
  margin-left: -11.5px;
  top:-45px;
  display: block;
  width: 23px;
  height: 34px;
  background: url(../images/icon/click_blue.png) 0 0 no-repeat;
}
.footer_text{
  line-height: 17px;
  color: #424242;
  letter-spacing:-0.2px;
  font-weight: 500;
}
.footer_text span{
  font-weight: 500;
  padding-left: 10px;
  display: inline-block;
}
.footer_text_type{
  color: #5e5e5e;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  margin-top: -2px;
  letter-spacing: -0.1px;
}



